.about{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.about .left{
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 350px;
}

.about .left p{
    margin: 1.2rem 0;
}

.about .right{
    max-width: 700px;
}
.btn{
    border: 1px solid #000000;
    padding: 0.5rem 1rem;
    background-color: rgb(255, 255, 0);
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}
.btn:hover{
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: 0.3s;
}

.right{
    padding-right: 100px;
}

@media screen and (max-width: 640px){
    .right{
        padding-left: 50px;
        text-align: center;
    }
    
}
